body {
    background-image: url("https://i.ytimg.com/vi/uQEBXWMBHhk/maxresdefault.jpg");
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#star-wars {
    color: blue;
    justify-content: center;
    position: relative;
    height: 800px;
    font-family: "pathway gothic one", sans-serif;
    font-size: 500%;
    font-weight: 600;
    text-align: justify;
    display: flex;
    perspective: 400px;
}

#Fond {
    position: relative;
    width: 100%;
    min-height: 60vh;
    top: -25px;
    background-image: linear-gradient(0deg, transparent, black 75%);
    z-index: 1;
  }

#text {
    position: relative;
    top: 20vh;
    transform-origin: 50% 100%;
    animation: text 60s linear;
  }
  
  #text > #titre {
    font-size: 90%;
    text-align: center;
  }
  
  #text > #titre h1 {
    margin: 0 0 100px;
    text-transform: uppercase;
  }

  @keyframes text {
    0% {
      top: 400px;
      transform: rotateX(20deg)  translateZ(0px);
    }
    100% { 
      top: -6000px;
      transform: rotateX(25deg) translateZ(-3500px);
    }
  }